<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_wudasie_root"
              name="WDC"
              sequence="0"/> <!-- Corrected 'seqeunce' to 'sequence' -->
    <menuitem id="menu_frontdesk"
              name="Front Desk"
              parent="menu_wudasie_root"/>
    <menuitem id="menu_patients"
              name="Patients"
              parent="menu_frontdesk"
              action="action_wudasie_patient"/>
</odoo>
